.swipebuttonbox {
	background-color:#B8B8B8;
	border-radius:10px;
	max-height:50px;
	width:400px;
	position:relative;
	left:25%;
}
#swipearea {
	min-height:50px;
	width:400px;
	background:transparent;
	position:absolute;
	left:26%;
	z-index:2
}
#arrow {
	height:50px;
}
